---
layout: default
---

<div class="about-us resource">
  <div class="content-header d-flex bg-dark text-light mb-6 mb-lg-10">
    <div class="container d-flex flex-column flex-lg-row">
      <div class="header-title pl-lg-17 pr-lg-5 pt-10 pt-lg-17 pb-lg-8">
        <h1 class="mb-3">
          Una Universidad para la Sociedad del Conocimiento.
        </h1>
        <p class="mb-6">
          Las Organizaciones Autónomas Distribuidas (DAOs) permiten a las personas asociarse para objetivos en común utilizando blockchain. Nuestra meta es ayudarte a dominar este nuevo paradigma económico y social desarrollando tu pensamiento computacional.
        </p>
        <a href="/programas" class="btn btn-pink btn-lg text-uppercase">
          Ver los programas
        </a>
      </div>
      <div class="header-secondary d-flex justify-content-start pb-5 pb-lg-0">
        <div class="header-secondary-curve d-none d-lg-flex bg-yellow"></div>
      </div>
    </div>
  </div>

  <div class="content-resource">
    <div class="container d-flex flex-column flex-lg-row">
      <div class="main-content pl-lg-17 pb-lg-8">
        <h2 class="mb-3 mb-lg-5">¿Por qué surge DAO U?</h2>
        <p class="text-justify">
          Dado el crecimiento de la relevancia de tecnologias como Bitcoin, Ethereum y los contratos inteligentes en un marco de incertidumbre global; hemos identificado la necesidad de impulsar el talento latinoamericano y europeo hacia la creación de nuevos tipos de trabajo que demandara' un entorno cada vez mas cambiante. 
        </p>

        <div class="we-believe-in mr-17 mb-5">
          <div class="pic"></div>
          <div class="text p-4 mr-11 bg-white mt-n11">
            <h3 class="mb-3">Nuestros Principios</h3>
            <p class="text-justify">
              Al mismo tiempo que emprendemos esta aventura, con responsabilidad
              y compromiso, trabajamos para entregar el conocimiento de
              vanguardia. Creemos en la importancia de contar con organizaciones
              más transparentes, más auditables y en las que los incentivos de
              todos sus participantes se vean compensados al momento de
              interactuar en esta nueva economía descentralizada. Por ello
              capacitamos sobre Blockchain, contratos inteligentes, finanzas
              descentralizadas y todo el ecosistema de servicios financieros
              descentralizados como Uniswaps, MakerDao y diferentes Stablecoins.
              Y aprender a interactuar tanto con el Blockchain de Ethereum,
              así como incorporar los conceptos básicos, intermedios y avanzados
              de cómo opera una cadena de bloques. A partir de estos abordaremos
              cómo implementar el control soberano sobre las finanzas personales
              y de una organización.
            </p>
          </div>
        </div>

        <h3 class="mb-3">Nuestra Estructura</h3>
        <p class="mb-5">
          Somos un equipo horizontalista que brinda un
          excelente apoyo a nuestros estudiantes.
        </p>

        <div class="staff">
          {% assign sorted = site.profesores | sort: 'order_in_about' %}
          {% for profesor in sorted %}
            <div class="staff-member d-flex mb-5 {% cycle 'odd', 'even' %}">
              <div class="pic d-flex justify-content-start align-items-end" style="background-image: url('/assets/images/profesores/{{ profesor.img }}')">
                <div class="bg-light py-4 px-5">
                  <h4 class="text-dark">{{ profesor.position }}</h4>
                  <strong class="text-primary">{{ profesor.title }}</strong>
                </div>
              </div>
              <div class="details">
                <h4 class="mb-3">Sobre {{ profesor.title }}</h4>
                <p class="mb-4">{{ profesor.description }}</p>
                <strong>Redes sociales</strong>
                <div class="social-links mt-2">
                  {% if profesor.linkedin %}
                    <a href="https://linkedin.com/in/{{profesor.linkedin}}">
                      <i class="text-pink fab fa-linkedin"></i>
                    </a>
                  {% endif %}
                  {% if profesor.twitter %}
                    <a href="https://twitter.com/{{profesor.twitter}}">
                      <i class="text-pink fab fa-twitter"></i>
                    </a>
                  {% endif %}
                  {% if profesor.facebook %}
                    <a href="https://facebook.com/{{profesor.facebook}}">
                      <i class="text-pink fab fa-facebook"></i>
                    </a>
                  {% endif %}
                  {% if profesor.instagram %}
                    <a href="https://instagram.com/{{profesor.instagram}}">
                      <i class="text-pink fab fa-instagram"></i>
                    </a>
                  {% endif %}
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>

      <div class="sidebar mb-5">
        <div class="top bg-purple text-light p-5 p-lg-8">
          <h2 class="mb-3">¿Estás listo para iniciar?</h2>
          <button type="button" class="text-uppercase btn btn-lg btn-yellow" data-toggle="modal" data-target="#contact_form">
            Más información
          </button>
        </div>
        <div class="bottom p-5 p-lg-8 bg-light-pink">
          <h2 class="pb-3 pb-lg-5">¿Hacia dónde va DAOU?</h2>
          <p>
            Queremos
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
