%footer.site-footer.h-card
  %data.u-url{:href => "{{ "}>
  \/" | relative_url }}"&gt;
.wrapper
  .footer-col-wrapper
    .footer-col
      %p.feed-subscribe
        %a{:href => "{{ 'feed.xml' | relative_url }}"}
          %svg.svg-icon.orange
            %use{"xlink:href" => "{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"}
          %span Subscribe
      {%- if site.author %}
      %ul.contact-list
        {% if site.author.name -%}
        %li.p-name {{ site.author.name | escape }}
        {% endif -%}
        {% if site.author.email -%}
        %li
          %a.u-email{:href => "mailto:{{ site.author.email }}"} {{ site.author.email }}
        {%- endif %}
      {%- endif %}
    .footer-col
      %p {{ site.description | escape }}
  .social-links
    {%- include social.html -%}
