{%- assign social = site.minima.social_links -%}
%ul.social-media-list
  {%- for glb in social.gitlab -%}{%- if glb.username and glb.instance -%}
  %li>
    %a{:href => "https://{{ glb.instance | cgi_escape | escape}}/{{glb.username}}", :rel => "me", :title => "{{ glb.username | escape }}"}
      %svg.svg-icon.grey
        %use{"xlink:href" => "{{ '/assets/minima-social-icons.svg#gitlab' | relative_url }}"}
  {%- endif -%}{%- endfor -%}
  {%- if social.dribbble -%}
  %li>
    %a{:href => "https://dribbble.com/{{ social.dribbble | cgi_escape | escape }}", :rel => "me", :title => "{{ social.dribbble | escape }}"}
      %svg.svg-icon.grey
        %use{"xlink:href" => "{{ '/assets/minima-social-icons.svg#dribbble' | relative_url }}"}
  {%- endif -%}
  {%- if social.facebook -%}
  %li>
    %a{:href => "https://www.facebook.com/{{ social.facebook | cgi_escape | escape }}", :rel => "me", :title => "{{ social.facebook | escape }}"}
      %svg.svg-icon.grey
        %use{"xlink:href" => "{{ '/assets/minima-social-icons.svg#facebook' | relative_url }}"}
  {%- endif -%}
  {%- if social.flickr -%}
  %li>
    %a{:href => "https://www.flickr.com/photos/{{ social.flickr | cgi_escape | escape }}", :rel => "me", :title => "{{ social.flickr | escape }}"}
      %svg.svg-icon.grey
        %use{"xlink:href" => "{{ '/assets/minima-social-icons.svg#flickr' | relative_url }}"}
  {%- endif -%}
  {%- if social.github -%}
  %li>
    %a{:href => "https://github.com/{{ social.github | cgi_escape | escape }}", :rel => "me", :title => "{{ social.github | escape }}"}
      %svg.svg-icon.grey
        %use{"xlink:href" => "{{ '/assets/minima-social-icons.svg#github' | relative_url }}"}
  {%- endif -%}
  {%- if social.stackoverflow -%}
  %li>
    %a{:href => "https://stackoverflow.com/users/{{ social.stackoverflow | cgi_escape | escape }}", :rel => "me", :title => "{{ social.stackoverflow | escape }}"}
      %svg.svg-icon.grey
        %use{"xlink:href" => "{{ '/assets/minima-social-icons.svg#stackoverflow' | relative_url }}"}
  {%- endif -%}
  {%- if social.instagram -%}
  %li>
    %a{:href => "https://www.instagram.com/{{ social.instagram | cgi_escape | escape }}", :rel => "me", :title => "{{ social.instagram | escape }}"}
      %svg.svg-icon.grey
        %use{"xlink:href" => "{{ '/assets/minima-social-icons.svg#instagram' | relative_url }}"}
  {%- endif -%}
  {%- if social.linkedin -%}
  %li>
    %a{:href => "https://www.linkedin.com/in/{{ social.linkedin | cgi_escape | escape }}", :rel => "me", :title => "{{ social.linkedin | escape }}"}
      %svg.svg-icon.grey
        %use{"xlink:href" => "{{ '/assets/minima-social-icons.svg#linkedin' | relative_url }}"}
  {%- endif -%}
  {%- if social.pinterest -%}
  %li>
    %a{:href => "https://www.pinterest.com/{{ social.pinterest | cgi_escape | escape }}", :rel => "me", :title => "{{ social.pinterest | escape }}"}
      %svg.svg-icon.grey
        %use{"xlink:href" => "{{ '/assets/minima-social-icons.svg#pinterest' | relative_url }}"}
  {%- endif -%}
  {%- for mst in social.mastodon -%}{%- if mst.username and mst.instance -%}
  %li>
    %a{:href => "https://{{ mst.instance | cgi_escape | escape}}/@{{mst.username}}", :rel => "me", :title => "{{ mst.username | escape }}"}
      %svg.svg-icon.grey
        %use{"xlink:href" => "{{ '/assets/minima-social-icons.svg#mastodon' | relative_url }}"}
  {%- endif -%}{%- endfor -%}
  {%- if social.twitter -%}
  %li>
    %a{:href => "https://twitter.com/{{ social.twitter | cgi_escape | escape }}", :rel => "me", :title => "{{ social.twitter | escape }}"}
      %svg.svg-icon.grey
        %use{"xlink:href" => "{{ '/assets/minima-social-icons.svg#twitter' | relative_url }}"}
  {%- endif -%}
  {%- if social.youtube -%}
  %li>
    %a{:href => "https://www.youtube.com/{{ social.youtube | cgi_escape | escape }}", :rel => "me", :title => "{{ social.youtube | escape }}"}
      %svg.svg-icon.grey
        %use{"xlink:href" => "{{ '/assets/minima-social-icons.svg#youtube' | relative_url }}"}
  {%- endif -%}
  {%- if social.youtube_channel -%}
  %li>
    %a{:href => "https://www.youtube.com/channel/{{ social.youtube_channel | cgi_escape | escape }}", :rel => "me", :title => "{{ social.youtube_channel_name | escape | default: 'YouTube' }}"}
      %svg.svg-icon.grey
        %use{"xlink:href" => "{{ '/assets/minima-social-icons.svg#youtube' | relative_url }}"}
  {%- endif -%}
  {%- if social.telegram -%}
  %li>
    %a{:href => "https://t.me/{{ social.telegram | cgi_escape | escape }}", :rel => "me", :title => "{{ social.telegram | escape }}"}
      %svg.svg-icon.grey
        %use{"xlink:href" => "{{ '/assets/minima-social-icons.svg#telegram' | relative_url }}"}
  {%- endif -%}
  {%- if social.keybase -%}
  %li>
    %a{:href => "https://keybase.io/{{ social.keybase | cgi_escape | escape }}", :rel => "me", :title => "{{ social.keybase | escape }}"}
      %svg.svg-icon.grey
        %use{"xlink:href" => "{{ '/assets/minima-social-icons.svg#keybase' | relative_url }}"}
  {%- endif -%}
  {%- if social.microdotblog -%}
  %li>
    %a{:href => "https://micro.blog/{{ social.microdotblog | cgi_escape | escape }}", :rel => "me", :title => "{{ social.microdotblog | escape }}"}
      %svg.svg-icon.grey
        %use{"xlink:href" => "{{ '/assets/minima-social-icons.svg#microdotblog' | relative_url }}"}
  {%- endif -%}
  {%- if social.devto -%}
  %li>
    %a{:href => "https://dev.to/{{ social.devto | cgi_escape | escape }}", :title => "{{ social.devto | escape }}"}
      %svg.svg-icon.grey
        %use{"xlink:href" => "{{ '/assets/minima-social-icons.svg#devto' | relative_url }}"}
  {%- endif -%}
