.about-us {
  .we-believe-in {
    .pic{
      height: 184px;
      @include media-breakpoint-up(md) {
        height: 336px;
      }
      background-image: url("/assets/images/about_us/we_believe_in.png");
      background-position: center;
      background-size: cover;
    }
  }

  .staff {
    .staff-member {
      .pic {
        min-height: 288px;

        @include media-breakpoint-up(md) {
          min-height: 328px;
          min-width: 328px;
        }

        background-position: center;
        background-size: cover;
      }

      .details {
        padding: ($spacer * 4) 0;
        @include media-breakpoint-up(md) {
          padding: $spacer * 4;
        }
        h4 {
          font-size: 26px;
        }
        .social-links {
          font-size: 20px;
          
          i {
            margin-right: $spacer * 3;
          }
        }
      }

      &.even {
        .pic {
          @include media-breakpoint-up(md) {
            order: 1;
          }
        }

        .details {
          text-align: right;
        }
          
        .social-links {
            i {
            margin-right: 0;
            margin-left: $spacer * 3;
          }
        }
      }
    }
  }
}
