.profesor.resource {
  .header-secondary {
    @include media-breakpoint-down(xs) {
      height: 250px;
      margin: ($spacer * 2) ($spacer * -2) 0 ($spacer * -2);
    }

    @include media-breakpoint-up(md) {
      flex-basis: 450px;
    }

    @include media-breakpoint-up(lg) {
      flex-basis: 585px;
    }
  }
}
