.content-header {
  h4 {
    color: $gray-500;
    font-size: 13px;
  }

  .header-title {
    @include media-breakpoint-up(md) {
      width: 400px;
    }
    @include media-breakpoint-up(lg) {
      width: 885px;
    }

    h1 {
      font-weight: bold;
    }

    p {
      font-weight: 300;
    }
    
    .breadcrumb {
      font-weight: 600;
      a {
        color: $yellow;
      }
    }

    .social-links {
      padding-top: 5px;
      i {
        font-size: 20px;
      }
    }
  }

  .header-secondary {
    background-size: cover;
    background-position: center;
    min-height: 100px;

    @include media-breakpoint-up(lg) {
      flex-basis: 585px !important;
    }

    &.no-content {
      @include media-breakpoint-down(xs) {
        height: 250px;
        margin: ($spacer * 2) ($spacer * -2) 0 ($spacer * -2);
      }

      @include media-breakpoint-up(md) {
        flex-basis: 351px;
      }
    }

    ul {
      padding-left: $spacer * 2;
      list-style: none;

      li::before {
        content: "\25A0"; 
        color: $pink;
        font-weight: bold;
        width: 1em;
        margin-left: -1em; 
      }

      li {
        margin-bottom: $spacer * 3;
      }
    }

    .header-secondary-curve {
      border-radius: 0 80px 0 0;
      background-color: $blue;
      flex-basis: 56px;
      @include media-breakpoint-up(lg) {
        flex-basis: 90px;
      }
    }
  }
}

.collection-items {
  .items-description {
    @include media-breakpoint-up(lg) {
      width: 885px;
    }
  }

  .collection-item {
    background-size: cover;
    background-position: center;

    height: 200px;

    @include media-breakpoint-up(lg) {
      height: 328px;
    }

    h2 {
      font-size: 16px;
      font-weight: 600;
    }
  }
}

.collection-items h2, .content-resource .main-content h2 {
  font-family: 'acumin-pro-semi-condensed';
  font-weight: bold;
  font-size: 42px;

  @include media-breakpoint-up(lg) {
    font-size: 68px;
  }
}

.content-resource {
  ul {
    padding-left: $spacer * 2;
    list-style: none;

    li::before {
      content: "\25A0"; 
      color: $pink;
      font-weight: bold;
      width: 1em;
      margin-left: -1em; 
    }

    li {
      margin-bottom: $spacer * 3;
    }
  }

  .main-content {
    @include media-breakpoint-up(lg) {
      width: 840px;
    }

    h3 {
      font-size: 22px;
      font-weight: 300;
      line-height: 1.52;
      @include media-breakpoint-up(lg) {
        font-size: 42px;
      }
    }

    .listed-box {
      padding: $spacer * 4;
      background-color: $gray-100;
      width: 100%;

      .listed-box-index {
        font-size: 42px;
        font-weight: bold;
        line-height: 1.52;
        color: $blue;
      }

      h4 {
        font-size: 16px;
        font-weight: 500;
      }

      p {
        color: $gray-800;
      }
    }
  }

  .sidebar {
    @include media-breakpoint-up(lg) {
      width: 392px;
      margin-left: 103px;
      margin-top: -230px;
    }

    .top {
      border-radius: 0 50px 0 0;

      @include media-breakpoint-up(lg) {
        border-radius: 0 100px 0 0;
      }

      h2 {
        font-size: 26px;
        font-weight: 900;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.54;
        color: $gray-100;
      }
    }

    .bottom {
      border-radius: 0 0 50px 0;

      @include media-breakpoint-up(lg) {
        border-radius: 0 0 100px 0;
      }

      h2 {
        font-size: 26px;
        font-weight: 300;
        line-height: 1.54;
      }
      h3 {
        font-size: 16px;
        font-weight: bold;
        color: $gray-900;
        margin-bottom: $spacer * 2;
      }
      p {
        margin-bottom: $spacer * 3;

        @include media-breakpoint-up(lg) {
          margin-bottom: $spacer * 5;
        }
        color: $gray-800;
      }
    }
  }
}
