---
# Only the main Sass file needs front matter (the dashes are enough)
---
@import "bootstrap/bootstrap";

html, body{
  overflow-x: hidden;
}

body.modal-open{
  padding-right: 0px !important;
}

.bg-image {
  background-position: center;
  background-size: cover;
}

h2 {
  font-weight: 300;
  font-family: 'acumin-pro';
}

h3 {
  font-weight: 900;
}

@include media-breakpoint-up(lg) {
  h1 { font-size: 68px; }
  h2 { font-size: 42px; }
  h3 { font-size: 26px; }
  h4 { font-size: 16px; }
}

.btn {
  font-weight: 600;
}

.navbar-section{
  border-bottom: solid 1px #c4c7cc;
  text-transform: uppercase;

  .logo{
    width: 40px;
    height: 40px;
    object-fit: contain;

    @include media-breakpoint-up(lg) {
      width: 72px;
      height: 72px;
    }
  }

  .active {
    a.nav-link {
      font-weight: 700;
      @include media-breakpoint-up(lg) {
        margin: 0 1px;
        font-weight: 500;
        background-color: rgba($blue, .1);
      }
    }
  }

  a.nav-link {
    font-size: 26px;
    font-weight: 500;
    border-radius: 4px;
    padding-left: 10px;

    @include media-breakpoint-up(lg) {
      padding-left: 0px;
      font-size: 12px;
      line-height: 2;
    }
  }

  a.nav-link:hover {
    background-color: rgba($blue, .1);
  }

  .btn-primary{
    box-shadow: 0 2px 24px -8px rgba(20, 24, 145, 0.7);
    font-size: 12px;
  }
}

.section-name {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.71;
}


.video-home {
  text-align: center;
  padding-top: 30px;
}

.video-frame {
  max-width: 1500px;
  width: 90%;
  min-height: 700px;
}

@media (max-width: 1200px) {
  .video-frame {
    min-height: 600px;
  }
}


@media (max-width: 767px) {
  .video-frame {
    min-height: 300px;
  }
}


.footer {
  position: relative;

  .pink_pacman {
    position: absolute;
    width: 136px;
    top: 286px;
    left: 20%;
  }

  .yellow_oval {
    position: absolute;
    width: 91px;
    top: 10px;
    right: 20%;
  }

  h2{
    font-family: 'acumin-pro-semi-condensed';
    font-weight: 200;
    line-height: 1.52;
  }

  .footer-contact-form-link {
    background-size: cover;
    background-image: url("/assets/images/contact_form_link_bg.png");
  }
  .footer-image-wedge {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 128px;
    @include media-breakpoint-up(lg) {
      height: 200px;
    }

    .footer-image-stripe {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      overflow: auto;
      width: 128px * 11;

      @include media-breakpoint-up(lg) {
        width: 200px * 11;
      }

      .footer-image {
        float: left;
        background-position: center;
        background-size: cover;
        width: 128px;
        height: 128px;
        @include media-breakpoint-up(lg) {
          width: 200px;
          height: 200px;
        }
      }
    }
  }

  .footer-machine {
    background-image: url(/assets/images/footer/footer.png);
    text-align: center;
    width: 100%;
    background-position: center;
    height: 200px;
    background-size: cover;
    margin: 0 auto;
  }

  .footer-links{
    a {
      font-size: 16px;
      @include media-breakpoint-up(lg) {
        font-size: 12px;
      }
      margin: ($spacer * 2) ($spacer * 3);
      color: $gray-900;
      line-height: 1.5;
    }
  }

  .copyright {
    color: $gray-900;
    font-size: 13px;
  }
  .license{
    height: 50px;
  }
}

@import "site_sections.scss";
@import "home.scss";
@import "about_us.scss";
@import "programas.scss";
@import "fontawesome.scss";
