---
layout: default
---

.container.jumbo-pitch
  .row.mt-12.mb-5
    .col.col-8.offset-2
      %h1
        Esto es lo que hacemos
        %br
        y nos hace especiales
  .row.mb-8
    .col.col-5.offset-2
      %p
        Explica un poco mas de detalles acerca de como esta
        propiedad especial me ayuda a resolver mi problema como
        visitante de tu sitio ¿Por que deberíia iniciar el
        proceso de conversión?
  .row
    .col.col-5.offset-2
      %a.btn.btn-lg.btn-dark(href="#") Ver nuestro video
      %a.btn.btn-lg.btn-primary(href="#") APLICAR


  -#
    <div class="home">
      {%- if page.title -%}
        <h1 class="page-heading">{{ page.title }}</h1>
      {%- endif -%}

      {{ content }}


      {% if site.paginate %}
        {% assign posts = paginator.posts %}
      {% else %}
        {% assign posts = site.posts %}
      {% endif %}


      {%- if posts.size > 0 -%}
        {%- if page.list_title -%}
          <h2 class="post-list-heading">{{ page.list_title }}</h2>
        {%- endif -%}
        <ul class="post-list">
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          {%- for post in posts -%}
          <li>
            <span class="post-meta">{{ post.date | date: date_format }}</span>
            <h3>
              <a class="post-link" href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
              </a>
            </h3>
            {%- if site.show_excerpts -%}
              {{ post.excerpt }}
            {%- endif -%}
          </li>
          {%- endfor -%}
        </ul>

        {% if site.paginate %}
          <div class="pager">
            <ul class="pagination">
            {%- if paginator.previous_page %}
              <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
            {%- else %}
              <li><div class="pager-edge">•</div></li>
            {%- endif %}
              <li><div class="current-page">{{ paginator.page }}</div></li>
            {%- if paginator.next_page %}
              <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
            {%- else %}
              <li><div class="pager-edge">•</div></li>
            {%- endif %}
            </ul>
          </div>
        {%- endif %}

      {%- endif -%}

    </div>
