---
layout: default
---

<div class='container'>
  <div class='row mt-5 mb-4 mt-lg-12 mb-lg-5'>
    <div class='col-lg-6 offset-lg-2'>
      <h1>
        Conquista el mundo de oportunidades distribuidas
      </h1>
    </div>
  </div>
  <div class='row mb-7'>
    <div class='col-lg-5 offset-lg-2'>
      A través de nuestros cursos sumergete en nuevos conocimientos y
      herramientas. Te capacitamos para la construcción del futuro de las
      organizaciones sociales y empresariales más transparentes, auditables
      y resilientes, donde los incentivos estén alineados en pro del
      reconocimiento que los individuos y colectivos se aportan entre sí.
    </div>
  </div>
  <div class='row'>
    <div class='col-lg-5 offset-lg-2 d-flex'>
      <a class='btn btn-lg btn-dark mr-3' href='#'>Ver video</a>
      <button type="button" class='btn btn-lg btn-primary' data-toggle="modal" data-target="#contact_form">
        APLICAR
      </button>
    </div>
  </div>
  <div class="home-art-wrapper text-center">
    <img class='home-art' src='/assets/images/student.png'>
  </div>
  <div class='row home-programs'>
    {% assign shuffled = site.programas | sample:2 %}
    {% assign program_big = shuffled | first %}
    {% assign program_small = shuffled | last %}
    <div class='col-md-6 col-lg-4 offset-lg-2'>
      <div class='home-program home-program-big'>
        <div class='home-program-content'>
          <div class='image' style="
            background-image: url('/assets/images/programas/{{ program_big.img }}')
          "></div>
          <div class='bg-light p-4'>
            <div class='section-name mb-2'>Programas</div>
            <h3 class='program-name mb-2'>{{ program_big.title }}</h3>
            <a href='{{ program_big.url }}'>Saber más</a>
          </div>
        </div>
      </div>
    </div>
    <div class='col-md-6 col-lg-4 align-self-end'>
      <div class='home-program home-program-small'>
        <div class='home-program-content'>
          <div class='image' style="
            background-image: url('/assets/images/programas/{{ program_small.img }}')
          "></div>
          <div class='bg-light p-4'>
            <div class='section-name mb-2'>Programas</div>
            <h3 class='program-name mb-2'>{{ program_small.title }}</h3>
            <a href='{{ program_small.url }}'>Saber más</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% comment %}
  <div class='home-posts row mb-8'>
    <div class='order-3 order-md-1 col-md-12 mb-md-3 order-lg-1 col-lg-4 offset-lg-2 text-right align-self-center'>
      <h2>Descubre nuestro blog</h2>
      <p class='mt-3'>Lee nuestras últimas publicaciones y artículos</p>
      <a class='mt-2 btn btn-lg bg-yellow text-uppercase'>Leer más</a>
    </div>
    <div class='mb-5 mr-7 col-md-6 mr-md-0 order-md-2 col-lg-2 align-self-end'>
      <div class='home-post' style="background-image: url('/assets/images/programas/programa-2.png')">
        <div class='row align-items-center home-post-content bg-light p-4 m-0'>
          <div class='col p-0'>
            <div class='section-name mb-2'>Eventos</div>
            <h3 class='home-post-title mb-2'>
              Masterclass Ethereum y nuevas tecnologías de la cadena de bloques
            </h3>
          </div>
        </div>
      </div>
    </div>
    <div class='mb-7 ml-7 col-md-6 mb-md-5 ml-md-0 order-md-3 col-lg-2'>
      <div class='home-post' style="background: url('/assets/images/ava.jpg')">
        <div class='row align-items-center home-post-content bg-light p-4 m-0'>
          <div class='col p-0'>
            <div class='section-name mb-2'>Noticias</div>
            <h3 class='home-post-title mb-2'>
              AVA minó su genesis block
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endcomment %}
</div>
<div class='bg-dark text-light'>
  <div class='container py-7 py-lg-12'>
    <div class='d-flex home-people flex-column flex-lg-row'>
      <div class='d-flex flex-column ml-lg-9 mr-lg-19'>
        <h2 class='home-people-title ml-8 ml-md-0 text-lg-right mb-5 d-flex flex-column flex-md-row justify-content-end'>
          <span class='align-top'>
            EQUIPO
          </span>
          <span class='brand ml-lg-2'>DAOU</span>
        </h2>
        <p class='text-md-right'>Somos un grupo de personas comprometidas con
          contribuir a la creación de una sociedad donde las organizaciones
          sean más descentralizadas y se promueva la confianza entre las
          personas.</p>
        <div class="my-3 d-none d-md-flex justify-content-end">
          <a class='btn btn-lg bg-yellow text-uppercase mr-3' href="/profesores">Profesores</a>
          {% comment %}
          <a class='btn btn-lg btn-primary text-uppercase'>Estudiantes</a>
          {% endcomment %}
        </div>
      </div>

      <div class='d-lg-flex'>
        <div class='d-lg-flex flex-column'>
          <div class='mb-5 mb-lg-0 home-people-box home-people-box-big d-flex justify-content-end' style="background-image: url('/assets/images/profesores/siri_santiago.jpeg')">
            <div class='home-people-content bg-dark p-3 align-self-end'>
              <h3 class='section-name'>CEO / Profesor</h3>
              <div class='home-people-name'>Santiago Siri</div>
            </div>
          </div>
          <div class='mb-5 mb-lg-0 home-people-box home-people-box-small align-self-end d-flex justify-content-start justify-content-lg-end' style="background-image: url('/assets/images/profesores/bruno_nubis.png')">
            <div class='home-people-content bg-dark p-3 align-self-end'>
              <h3 class='section-name'>Profesor</h3>
              <div class='home-people-name'>Nubis Bruno</div>
            </div>
          </div>
        </div>
        <div class=''>
          <div class='mb-5 mb-lg-0 home-people-box home-people-box-small d-flex justify-content-end justify-content-lg-start' style="background-image: url('/assets/images/profesores/salazar_camila.jpg')">
            <div class='home-people-content bg-dark p-3 align-self-end'>
              <h3 class='section-name'>Secretaria General</h3>
              <div class='home-people-name'>Camila Salazar-Simpson</div>
            </div>
          </div>
          <div class='mb-5 mb-lg-0 home-people-box home-people-box-big d-flex justify-content-start' style="background-image: url('/assets/images/profesores/aqueveque_mariap.jpg')">
            <div class='home-people-content bg-dark p-3 align-self-end'>
              <h3 class='section-name'>Presidenta Consejo Asesor</h3>
              <div class='home-people-name'>María Pia Aqueveque</div>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex flex-column d-md-none">
        <a class='btn btn-lg bg-yellow text-uppercase mb-3'>Profesores</a>
        <a class='btn btn-lg btn-primary text-uppercase'>Estudiantes</a>
      </div>
    </div>
  </div>
</div>

{% comment %}
<div class='container home-events pt-7 pt-lg-10'>
  <div class='row'>
    <div class='col-lg-12 offset-lg-1'>
      <h2 class='mb-5'>Próximos eventos</h2>
    </div>
  </div>
  <div class='row'>
    <div class='col-6 mb-3 col-lg-2 offset-lg-1'>
      <div class='home-event row no-gutters' style="background-image: url('/assets/images/palermo.jpg')">
        <div class='home-event-date align-self-end'>10 Nov 2020</div>
      </div>
      <div class='home-event-title'>
        Le preguntamos a Martín Palermo sobre registrar records deportivos en la blockchain.
      </div>
    </div>
    <div class='col-6 mb-3 col-lg-2'>
      <div class='home-event row no-gutters' style="background-image: url('/assets/images/schelotto.jpg')">
        <div class='home-event-date align-self-end'>03 Dic 2020</div>
      </div>
      <div class='home-event-title'>
        Guillermo y Gustavo Barros Schelloto nos hablan de BCH y BSV respectivamente.
      </div>
    </div>
    <div class='d-none d-lg-block col-lg-2'>
      <div class='home-event row no-gutters' style="background-image: url('/assets/images/programas/programa-1.png')">
        <div class='home-event-date align-self-end'>18 Ene 2021</div>
      </div>
      <div class='home-event-title'>
        Acuerdos prenupciales en contratos inteligentes, con la pareja de la foto.
      </div>
    </div>
    <div class='d-none d-lg-block col-lg-2'>
      <div class='home-event row no-gutters' style="background-image: url('/assets/images/programas/programa-2.png')">
        <div class='home-event-date align-self-end'>15 Feb 2021</div>
      </div>
      <div class='home-event-title'>
        Reunión del grupo de ayuda para dejar de mirar el precio a cada rato.
      </div>
    </div>
    <div class='d-none d-lg-block col-lg-2'>
      <div class='home-event row no-gutters' style="background-image: url('/assets/images/palermo.jpg')">
        <div class='home-event-date align-self-end'>25 Mar 2021</div>
      </div>
      <div class='home-event-title'>
        El titán responde la pregunta anterior después de hacer el bootcamp para entenderla.
      </div>
    </div>
  </div>
  <div class='row mt-5'>
    <div class='col text-center'>
      <a class='btn btn-dark btn-lg' href='#'>Ver todos los eventos</a>
    </div>
  </div>
</div>
{% endcomment %}

{% comment %}
<div class='container home-news py-7'>
  <div class='row'>
    <div class='col-lg-12 offset-lg-1'>
      <h2 class='mb-5'>Últimas noticias</h2>
    </div>
  </div>
  <div class='row'>
    <div class='col-lg-7 offset-lg-1 mb-4 mb-lg-8'>
      <div class='home-news-photo-container bg-blue'>
        <div class='home-news-photo' style="background-image: url('/assets/images/namecoin.png')"></div>
      </div>
      <h3 class='mt-5 mb-3'>Compró 2000 euros de namecoin en 2013 y creyó haberlos perdido</h3>
      <h4 class='mb-4'>Los encontró 7 años después en medio de una mudanza inesperada</h4>
      <div class='home-news-content-date mb-3'>11 may 2020</div>
      <p class='text-justify'>
        El año era 2013, Waldemar Carrasco, de Agua Mojada, un Pequeño Pueblo uruguayo perdido entre
         Laguna Vacante y el médano de Santa Rita, gastó 51.000 uyu de su
         bar mitzvah (aproximadamente 2000 eur) en una moneda que prometía ser el nuevo
         Bitcoin: Namecoin.
         En el momento guardó su billetera en un pendrive, decidido a esperar los frutos de su inversión.
         Unos meses más tarde, la madre de waldemar no puede encontrar el pendrive, y él,
         deshauciado, lo da por perdido.
      </p>
      <p class='text-justify'>
        Siete años después, ya viviendo con su novia, discuten por sus hábitos de inversión
         en criptomonedas, y esta lo hecha de la casa que compartían.
         De vuelta en la casa de su madre, Waldemar ordena su habitación y encuentra el pendrive
         perdido, con la billetera intacta.
         Inmediatamente llamó a su novia para contarle la noticia esperando revindicarse.
      </p>
      <p class='text-justify'>
        El precio del Namecoin tras 7 años, con subidas y bajadas en el medio, es virtualmente el mismo.
         Waldemar usó el dinero en un coche de segunda mano, entregando el de su madre en forma de pago.
         Su novia le comunicó el rompimiento definitivo con dos emojis por telegram.
      </p>
    </div>
    <div class='col-lg-3'>
      <div class='mb-4 mb-lg-8'>
        <div class='home-news-photo-container-small bg-green'>
          <div class='home-news-photo' style="background-image: url('/assets/images/fifa.svg')"></div>
        </div>
        <h3 class='mt-5 mb-3'>FIFA moverá sus sorteos al Blockchain</h3>
        <div class='home-news-content-date mb-3'>11 may 2020</div>
        <p class='text-justify'>
          Se tratará de un nuevo blockchain federado, que al principio contará con un único nodo…
        </p>
      </div>
      <div class='mb-4 mb-lg-8'>
        <div class='home-news-photo-container-small bg-purple'>
          <div class='home-news-photo' style="background-image: url('/assets/images/ava.jpg')"></div>
        </div>
        <h3 class='mt-5 mb-3'>Hoy Avalanche minó su primer bloque</h3>
        <div class='home-news-content-date mb-3'>25 may 2020</div>
        <p class='text-justify'>
          Después de conseguir las autorizaciones suficientes y tras un largo debate, los mineros de AVA se pusieron de acuerdo en el primer bloque. Esperamos no se arrepientan…
        </p>
      </div>
    </div>
  </div>
  <div class='row mt-5'>
    <div class='col text-center'>
      <a class='btn btn-dark btn-lg' href='#'>Ver todas las noticias</a>
    </div>
  </div>
</div>
{% endcomment %}
