---
layout: default
---

<div class="programa resource">
  <div class="content-header d-flex bg-dark text-light mb-6 mb-lg-10">
    <div class="container d-flex flex-column flex-lg-row">
      <div class="header-title pl-lg-17 pr-lg-5 pt-10 pt-lg-19 pb-lg-8">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="/programas">
                <i class="fas fa-arrow-left"></i>
                Programas
              </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
          </ol>
        </nav>

        <h1 class="mb-3">{{ page.title }}</h1>
        <p class="mb-6 text-uppercase">{{ page.description }}</p>
        <div class="d-flex flex-column flex-md-row">
          <div class="flex-fill mb-4">
            <h4 class="text-uppercase">Formato del curso</h4>
            <div class="font-weight-bold">{{ page.format }}</div>
          </div>
          <div class="flex-fill mb-4">
            <h4 class="text-uppercase">Duración</h4>
            <div class="font-weight-bold">{{ page.duration }}</div>
          </div>
          <div class="flex-fill mb-4">
            <h4 class="text-uppercase">Idioma</h4>
            <div class="font-weight-bold">{{ page.language }}</div>
          </div>
        </div>
      </div>
      <div class="header-secondary d-flex justify-content-start pb-5 pb-lg-0">
        <div class="header-secondary-curve d-none d-lg-flex bg-yellow"></div>
        <div class="pl-lg-5 pt-lg-7">
          <h4 class="text-uppercase">Próximas fechas importantes</h4>
          <ul class="mt-4">
            {% for important_date in page.important_dates %}
              <li class="d-flex">
                <div class="ml-3">
                  <span class="font-weight-bold">{{ important_date.date }}</span>
                  <br/>
                  <span>{{ important_date.text }}</span>
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="content-resource">
    <div class="container d-flex flex-column flex-lg-row">
      <div class="main-content pl-lg-17 pb-lg-8">
        <h2 class="mb-3 mb-lg-5">Descripción</h2>
        <div class="text-justify">
          {{ content }}
        </div>
        <h3 class="mb-3 mt-5 mb-lg-5 mt-lg-8">Malla curricular</h3>
        <div class="text-justify mb-4 mb-lg-5">
          {{ page.program_parts.description }}
        </div>
        <div class="row d-flex">
          {% for item in page.program_parts.items %}
            <div class="col-md-6 col-lg-4 d-flex mb-5">
              <div class="listed-box">
                <div class="listed-box-index mb-3">{{ forloop.index }}</div>
                <h4 class="text-uppercase mb-3">{{ item.title }}</h4>
                <p class="text-justify">{{ item.content }}</p>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>

      <div class="sidebar mb-5">
        <div class="top bg-purple text-light p-5 p-lg-8">
          <h2 class="mb-3">¿Estás listo para iniciar?</h2>
          <a class="text-uppercase btn btn-lg btn-pink" href="https://form.typeform.com/to/VFrfvZ63" target="_blank">
            Más información
          </a>
        </div>
        <div class="bottom p-5 p-lg-8 bg-light-pink">
          {% if page.checkout_cc %}
            <a class="text-uppercase btn btn-lg btn-pink" href="/{{page.checkout_cc}}" target="_blank">
              PAGAR CON TARJETA
            </a>
          {% endif %}
          {% if page.checkout_btc %}
            <a class="text-uppercase btn btn-lg btn-pink mt-3" href="/{{page.checkout_btc}}" target="_blank">
              PAGAR CON BTC
            </a>
          {% endif%}
          <h2 class="pt-3 pt-lg-5 pb-3 pb-lg-5">Perfil del aspirante</h2>
          {{ page.sidebar_content }}
        </div>
      </div>
    </div>
  </div>
</div>
